.description-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    grid-template-rows: auto auto; /* Creates two rows */
    /* Adjusts the gap between grid items */
    /* gap: 1px;  */
    justify-items: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

.description {
    /* position: relative; */
    overflow: hidden;
    width: 90%; /* Adjust the width of description to fit two in a row */
    height: 90%;
    /* border: 2px solid #000; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portfolio img {
    max-width: 100%; 
    width: 100%;
    /* Add border radius to top corners */
    border-radius: 10px 10px 10px 10px; 
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .description-section {
        grid-template-columns: 1fr; /* Adjusts to one column layout for smaller screens */
    }
    
    .description-section > :nth-child(2) {
        grid-column: 1 / span 2; /* Makes the second child span both columns */
    }
}