.portfolio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    grid-template-rows: auto auto; /* Creates two rows */
    /* Adjusts the gap between grid items */
    gap: 20px; 
    justify-items: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

.portfolio {
    position: relative;
    overflow: hidden;
    width: 95%; /* Adjust the width of portfolio to fit two in a row */
    height: 95%;
    border: 2px solid #0000000e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.portfolio p {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background */
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: #000;
}

.portfolio img {
    max-width: 100%; 
    width: 100%;
    border-radius: 10px 10px 10px 10px; /* Add border radius to top corners */
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .portfolio-section {
        grid-template-columns: 1fr; /* Adjusts to one column layout for smaller screens */
        gap: 1px; 
    }

    /* Smaller gap between consecutive even and odd children */
    .portfolio-section > :nth-child(even):not(:last-child),
    .portfolio-section > :nth-child(odd):not(:first-child) {
        --gap-size: 10px; /* Smaller gap value */
        margin-right: var(--gap-size);
        margin-bottom: calc(var(--gap-size) * 2); /* Double the gap size for bottom margin */
    }

    /* Larger gap between odd child and the next even child */
    .portfolio-section > :nth-child(odd):not(:last-child) ~ :nth-child(even) {
        margin-top: calc(var(--gap-size) * 2 + 10px); /* Additional gap plus original gap size */
    }

    /* Reset margins for first and last children */
    .portfolio-section > :first-child,
    .portfolio-section > :last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
}

/* Medical */
.portfolio-section-med {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates two columns of equal width */
    grid-template-rows: auto auto; /* Creates two rows */
    gap: 20px; /* Adjusts the gap between grid items */
    justify-items: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
}

.portfolio-result-med {
    /* display: flex; */
    justify-items: center;
    align-items: center;
    /* margin-left: 30%; */
}

.portfolio-section-med .portfolio-result-med img {
    border-radius: 10px 10px 10px 10px;
    height: 250px;;
    /* width: 60%; */
    /* height: auto; */
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
    /* border: 10px solid #000; */
}

.result {
    /* border: 10px solid #000; */
    margin-top: 50px;
}


/* Sick Hack Portfolio */
.video {
    display: flex;
    /* Subtract the height of the footer to make space for it */
    /* Adjust according to the footer height */
    /* padding-bottom: 100px;  */
    box-sizing: border-box;
    overflow: auto; /* Enable scrolling if content overflows */
    /* border: 1px solid #000; */
}

.video .video-preview {
    margin-left: 18%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 700px;
}

.portfolio-result {
    /* display: flex; */
    justify-items: center;
    align-items: center;
    margin-left: 30%;
}

.portfolio-result img {
    border-radius: 10px 10px 10px 10px;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
    /* border: 10px solid #000; */
}

.result {
    /* border: 10px solid #000; */
    margin-top: 50px;
}